body {
    background-color: #F0F1F5;
    margin: 0;
    font-family: "Helvetica", sans-serif;
    padding: 2rem 20rem;
}

header > p {
    float: left;
    font-weight: bold;
    color: #F96C09;
}

nav {
    text-align: right;
}

nav ul li {
   display: inline-block;
   padding: 0 10px;
}

nav ul li a {
    color: #F96C09;
    text-decoration: none;
}

nav ul {
    float: right;
}

main section:nth-child(1){
    margin-top: 3rem;
    /* darkened image: */
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../First\ Page\ Ever/Images/picture.jpg");
    background-size: cover;
    background-position: center;
    padding: 20rem 25rem;
    text-align: center;
}

main section:nth-child(1) h1{
    color: white;
}

main section:nth-child(1) span{
    color: #F96C09;
}

main section button{
    display: block;
        border-radius: 5%;
    border: none;
    background: #F96C09;
    color: white;
    font-size: 22px;
    padding: 12px;
    font-weight: bold;
    text-align: center;
    margin-left: 137px
}

main section button:hover{
    background-color: white;
    cursor: pointer;
    color: #F96C09;
}

main section:nth-child(2) article{
    background-color: #F96C09;
    color: white;
    display: inline-block;
    padding: 32px;
    width: 28%;
}

main section:nth-child(2) article h3{
    text-align: center;
}

footer p{
    margin-top: 20px;
}