@{
    ViewBag.Title = "Contacts";
    Layout = "_Layout";
}

<div>
    <h1>Where are we?</h1>

    <p>Balkan cars is located in @ViewData["Location"].</p>
    <p>Find us on the map:</p>

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d734.1521206869357!2d23.142462269659365!3d42.60604958528574!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40aa9d8380ac25a7%3A0x2b0a4f0db9d0d75b!2z0YPQu9C40YbQsCDQndC40LrQvtC70LAg0JLQsNC_0YbQsNGA0L7QsiAyMiwgMjM1MSDQlNGA0LDQs9C40YfQtdCy0L4!5e0!3m2!1sbg!2sbg!4v1685382569936!5m2!1sbg!2sbg"
            width="600" height="450" style="border:2px solid black;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>