@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div id="container">
        <h1 class="display-4">@ViewData["Title"]</h1>
        <h2>@ViewData["Message"]</h2>
        <p>This is the @ViewData["Title"].</p>
    </div>
    <button class="btn-outline-dark" id="toggle">Click me</button>
</div>

<script src="js/site.js"></script>